@font-face {
    font-family: pokemon;
    src: url(./Pokemon\ Classic.ttf);
  }


body {
    font-family: pokemon,'Times New Roman', Times, serif;
}

h1 {
    margin: 1.5rem;
}

body.details {
    width: 60%;
}

body.details img {
    width: 100%;
}


@media (max-width: 1000px) { 
    body.details {
        width: 100%;
    }
}